{% extends "base.html" %}

{% block content %}


<main role="main">


    <div class="container ">
        <!-- Example row of columns -->
        <div class="row mt-5">
            <div class="col">
                <h2 class="text-center">Upload your Picture to classify -></h2>
            </div>
            <div class="col">
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" onchange="loadFile(event)" name="file" class="custom-file-input"
                            id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
                        <label class="custom-file-label" for="inputGroupFile04" id="choosefile_label">Choose
                            file</label>
                    </div>
                </div>
            </div>

        </div>
        <div class="row mt-5">
            <div class="col-sm">
                <h3 class="text-center">Resnet18</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda debitis enim perspiciatis, iure
                    suscipit illum est quis beatae, sequi eos eveniet? Itaque voluptates atque odio labore nostrum
                    debitis, sit ullam!</p>

                <button type="button" class="btn btn-primary" onclick="image_predict_resnet18()">Predict</button>
            </div>
            <div class="col-sm">
                <h3 class="text-center">Resnet18</h3>
            </div>
            <div class="col-sm">
                <h3 class="text-center">Resnet18</h3>
            </div>
            <p><img id="output" width="200" /></p>

        </div>

        <hr>

    </div> <!-- /container -->

</main>
<script>

    function showname() {

    };

    var loadFile = function (event) {
        //change choose file name to image name
        var name = document.getElementById('inputGroupFile04').files.item(0).name;
        document.getElementById("choosefile_label").innerHTML = name;

        //display image in img with id output
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
    };


    function image_predict_resnet18() {
        let photo = document.getElementById("inputGroupFile04").files[0];
        let formData = new FormData();
        formData.append("photo", photo);
        fetch('https://us-central1-ml-webpage-264418.cloudfunctions.net/test-model', {
            method: "POST", body: formData
        }).then(function (a) {
            return a.json(); // call the json method on the response to get JSON
        })
            .then(function (json) {
                console.log(json)
            });
    }

</script>


{% endblock %}