{% extends "base.html" %}

{% block content %}


<main role="main">


    <div class="container">
        <!-- Example row of columns -->
        <div class="row mt-5">
            <div class="col">
                <h2 class="text-center">Upload your Picture!</h2>
            </div>
            <div class="col">
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" onchange="loadFile(event)" name="file" class="custom-file-input"
                            id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
                        <label class="custom-file-label" for="inputGroupFile04" id="choosefile_label">Choose
                            file</label>
                    </div>
                </div>
            </div>
            <div class="col">
                <img id="output" class="img-fluid" />
            </div>

        </div>
        <div class="row mt-5">
            <div class="col">
                <div class="row">
                    <h3 class="text-center">Resnet18</h3>
                </div>
                <div class="row">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda debitis enim perspiciatis,
                        iure
                        suscipit illum est quis beatae, sequi eos eveniet? Itaque voluptates atque odio labore nostrum
                        debitis, sit ullam!</p>
                </div>

                <div class="row" id="result">
                    <div class="text-center">
                        <button type="button" id="pred_button" class="btn btn-primary"
                            onclick="image_predict_resnet18()">Predict</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <h3 class="text-center">Resnet18</h3>
            </div>
            <div class="col">
                <h3 class="text-center">Resnet18</h3>
            </div>


        </div>

        <hr>

    </div> <!-- /container -->

</main>
<script>

    function showname() {

    };

    var loadFile = function (event) {
        //change choose file name to image name
        var name = document.getElementById('inputGroupFile04').files.item(0).name;
        document.getElementById("choosefile_label").innerHTML = name;

        //display image in img with id output
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
    };


    function image_predict_resnet18() {

        //Get input image
        let photo = document.getElementById("inputGroupFile04").files[0];
        let formData = new FormData();
        formData.append("photo", photo);


        //remove predict button and add loader symbol
        document.getElementById("result").innerHTML = '<div class="spinner-border text-primary" id="spinner" role="status"><span class="sr-only"> Loading...</span ></div >'


        fetch('https://us-central1-ml-webpage-264418.cloudfunctions.net/test-model', {
            method: "POST", body: formData
        }).then(function (a) {
            document.getElementById("spinner").classList.add('invisible')
            return a.json(); // call the json method on the response to get JSON
        }).then(function (json) {
            res = document.getElementById('result')
            var listDiv = res;
            res.removeChild(res.firstChild)
            var ul = document.createElement('ul');
            ul.classList.add("list-unstyled");
            var li = document.createElement('li');
            li.innerHTML = '<h5>Prediction</h5>'
            ul.appendChild(li);
            for (var i = 0; i < json.length; ++i) {
                var li = document.createElement('li');
                pred = json[i][0][0].toUpperCase() + json[i][0].slice(1)
                li.innerHTML = new String(pred.bold() + ": " + json[i][1]);
                //li.classList.add("list-group-item");
                li.classList.add("border-0")   // Use innerHTML to set the text
                ul.appendChild(li);
            }
            listDiv.appendChild(ul);
        });
    }

</script>


{% endblock %}