{% extends "base.html" %}

{% block content %}


<main role="main">


    <div class="container">
        <!-- Example row of columns -->
        <div class="row mt-5" style="height: 25em;">
            <div class="col m-3">
                <div class="row">
                    <h2 class="text-center">Resnet18</h2>
                </div>
                <div class="row">
                    <p>Resnet18 uses only 5 layers. Like all Resnet models this model internally skips some layers to
                        deal with de vanishing gradient problem. This problem expacially occurs in deep networks like
                        Resnet. This
                        model was introduced in 2015.</p>
                </div>


                <div class="row" id="result1">
                    <div class="text-center">
                        <button type="button" id="pred_button" class="btn btn-dark"
                            onclick='image_generate_pgan("result1","spinner1","http://localhost:5002/pgan")'>Generate</button>
                    </div>
                </div>
            </div>
            <div class="col m-3">
                <div class="row">
                    <h2 class="text-center">Resnet50</h2>
                </div>
                <div class="row">
                    <p>Resnet18 uses only 50 layers. Like all Resnet models this model internally skips some layers to
                        deal with de vanishing gradient problem. This problem expacially occurs in deep networks like
                        Resnet. This
                        model was introduced in 2015.</p>
                    <div class="form-group">

                        <label for="exampleFormControlSelect1">Example select</label>
                        <select class="form-control" id="biggan_options">
                            {% for i in range(0,idx|length) %}
                            <option value="{{ idx[i] }}">{{ label[i] }}</option>
                            {% else %}
                            no true items
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="row" id="result3">
                    <div class="text-center">
                        <button type="button" id="pred_button" class="btn btn-dark"
                            onclick='image_generate("result3","spinner3","http://localhost:5002/biggan")'>Predict</button>
                    </div>
                </div>
            </div>
            <div class="col m-3">
                <div class="row">
                    <h2 class="text-center">ResNeXt</h2>
                </div>
                <div class="row">
                    <p>ResNeXt models are pre-trained in weakly-supervised fashion on 940 million public
                        images with 1.5K hashtags matching with 1000 ImageNet1K synsets, followed by fine-tuning on
                        ImageNet1K dataset. This model was released in 2018 and achieves <b>state-of-the-art</b>
                        accuracy.</p>
                </div>

                <div class="row" id="result2">
                    <div class="text-center">
                        <button type="button" id="pred_button" class="btn btn-dark"
                            onclick='image_predict("result2","spinner2","https://us-central1-ml-webpage-264418.cloudfunctions.net/resnext")'>Predict</button>
                    </div>
                </div>
            </div>



        </div>

        <hr>

    </div> <!-- /container -->

</main>



{% endblock %}