{% extends "base.html" %}

{% block content %}


<main role="main">


    <div class="container">
        <!-- Example row of columns -->
        <div class="row mt-5" style="height: 25em;">
            <div class="col m-3">
                <div class="row">
                    <h2 class="text-center"><a style="color: black;" target="_blank" rel="noopener noreferrer"
                            href="https://pytorch.org/hub/facebookresearch_pytorch-gan-zoo_pgan/">Growing GANs</a></h2>
                </div>
                <div class="row">
                    <p>This model is a generative model. The purpose of this model is to generate an artifical image of
                        a celebrity. It was trained progressivly to first generate low resolution images and at later
                        training stages produces higher resolution images. This model was released in 2017.</p>
                </div>


                <div class="row" id="result1">
                    <div class="text-center">
                        <button type="button" id="pred_button" class="btn btn-dark"
                            onclick='image_generate_pgan("result1","spinner1","https://generative-ch3s33ctwq-ez.a.run.app/pgan")'>Generate</button>
                    </div>
                </div>
            </div>
            <div class="col m-3">
                <div class="row">
                    <h2 class="text-center"><a style="color: black;" target="_blank" rel="noopener noreferrer"
                            href="https://tfhub.dev/deepmind/biggan-512/2">BigGan</a></h2>
                </div>
                <div class="row">
                    <p>This model is a generative model. The purpose of this model is to generate an artifical image of
                        a class in the imagenet dataset. You can choose a class of a image to generate. This model was
                        introduced in 2018.</p>
                    <div class="form-group">

                        <label for="exampleFormControlSelect1">Example select</label>
                        <select class="form-control" id="biggan_options">
                            {% for i in range(0,idx|length) %}
                            <option value="{{ idx[i] }}">{{ label[i] }}</option>
                            {% else %}
                            no true items
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="row" id="result3">
                    <div class="text-center">
                        <button type="button" id="pred_button" class="btn btn-dark"
                            onclick='image_generate("result3","spinner3","http://localhost:5000/generative/biggan")'>Generate</button>
                    </div>
                </div>
            </div>
            <div class="col m-3">
                <div class="row">
                    <h2 class="text-center"><a style="color: black;" target="_blank" rel="noopener noreferrer"
                            href="https://pytorch.org/hub/facebookresearch_pytorch-gan-zoo_dcgan/">DCGAN</a></h2>
                </div>
                <div class="row">
                    <p>This model is a generative model, which can generate people with clothes. The architecture is
                        simple and fast, but it only generates low resolution images. It is an older model and it was
                        released in 2015. </p>
                </div>

                <div class="row" id="result2">
                    <div class="text-center">
                        <button type="button" id="pred_button" class="btn btn-dark"
                            onclick='image_generate_pgan("result2","spinner2","https://generative-ch3s33ctwq-ez.a.run.app/dcgan")'>Generate</button>
                    </div>
                </div>
            </div>



        </div>



    </div> <!-- /container -->

</main>



{% endblock %}