{% extends "base.html" %}

{% block content %}


<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container-fluid">
            <h1 class="display-3 text-center text-light font-weight-bold">Today's AI capabilities</h1>


        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-3">
                <h2 class="text-center">Classification </h2>

                <img class="img-fluid rounded" alt="Responsive image"
                    src="https://miro.medium.com/max/10368/0*ey6drJha0Jol63fM">
                <p>The goal of classification is to detect the type of object in the image. Modern classification
                    algorithmus can classifiy many different objects. </p>
                <p><a class="btn btn-secondary" href="/classification" role="button">Try it out &raquo;</a></p>
            </div>
            <div class="col-md-3">
                <h2 class="text-center">Object Detection</h2>
                <img class="img-fluid rounded" alt="Responsive image"
                    src="https://res.cloudinary.com/andrewcarteruk/image/upload/v1516747767/TensorFlow%20-%20Race%20Cars/3-boxes.jpg">

                <p>The goal of object detection is to find objects in an image and classifiy them. There are many
                    application where object detection is crucial. </p>
                <p><a class="btn btn-secondary" href="/object_detect" role="button">Try it out &raquo;</a></p>
            </div>
            <div class="col-md-3">
                <h2 class="text-center">Generative</h2>
                <img class="img-fluid rounded" alt="Responsive image" src="static/images/cat_Crop2.png">
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
                    porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
                    ut fermentum massa justo sit amet risus.</p>
                <p><a class="btn btn-secondary" href="/object_detect" role="button">Try it out &raquo;</a></p>
            </div>
            <div class="col-md-3">
                <h2 class="text-center">Language</h2>
                <img class="img-fluid rounded" alt="Responsive image" src="static/images/audio_cop.png">
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
                    porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
                    ut fermentum massa justo sit amet risus.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
        </div>

        <hr>

    </div> <!-- /container -->

</main>



{% endblock %}