{% extends "base.html" %}


{% block content %}


<main role="main">


    <div class="container">
        <!-- Example row of columns -->
        <div class="row" style="height: 25em;margin-top: 5em;">
            <div class="col m-6">
                <div class="row">
                    <h2 class="text-center"><a style="color: black;" target="_blank" rel="noopener noreferrer"
                            href="https://pytorch.org/hub/pytorch_fairseq_translation/">Transformer Model</a></h2>
                </div>
                <div class="row">
                    <p>This is an award winning English German translation model developed by facebook research. It uses
                        attention
                        instead of memory units and prodices <b>state-of-the-art</b> results. This model was released in
                        2018 and won the English German translation competition.</p>
                    <div class="input-group container-fluid">
                        <textarea id="to_translate" class="form-control" aria-label="With textarea"></textarea>
                    </div>


                </div>


                <div class="row" id="result1">
                    <div class="text-center container-fluid">
                        <button disabled type="button" id="pred_button" class="btn btn-dark trainslate-btn"
                            onclick='language_predict("result1","spinner1","https://language-ch3s33ctwq-ez.a.run.app/language/transformer")'>Translate</button>
                    </div>
                </div>
            </div>
            <div class="col m-6">
                <div class="row">
                    <h2 class="text-center"><a style="color: black;" target="_blank" rel="noopener noreferrer"
                            href="https://github.com/SeanNaren/deepspeech.pytorch">DeepSpeech</a></h2>
                </div>
                <div class="row">
                    <p>This is the deepspeech model from mozilla. It can translate speech to text. It uses memory units
                        like LSTM's to transcribe the input. The deepspeech was revisited over time, but the initial
                        version was released in 2015. If you notice bad translations, it is due to a skew towards their
                        training set. This is a research model and is not made real-world usage.</p>
                    <div class="text-center container-fluid">
                        <p><b>Record Audio to transcribe:</b></p><br>
                        <p>
                            <button id="startRecord" class="btn btn-danger">start</button>
                            <button id="stopRecord" disabled class="btn btn-danger">stop</button>
                        </p>
                        <p>
                            <audio id=recordedAudio></audio>
                        </p>
                    </div>
                </div>

                <div class="row" id="result2">
                    <div class="text-center container-fluid">
                        <button disabled type="button" id="pred_button" class="btn btn-dark"
                            onclick='deepspeech_transcribe("result2","spinner2","https://language-ch3s33ctwq-ez.a.run.app/language/deepspeech")'>Transcribe</button>
                    </div>
                </div>
            </div>



        </div>



    </div> <!-- /container -->

</main>




{% endblock %}